body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 100vh;
	width: 100vw;
	background-color: #ebfffa;
}
.numero-principal {
	font-size: 8rem;
	margin: 20px;
}
.botoes {
	display: flex;
	width: 10vw;
}
.botao {
	font-size: 2rem;
	padding: 20px;
}
